<!DOCTYPE html>
<html>
<head>
  <title>Aplicativo Web</title>
  <link rel="stylesheet" href="index.css">
</head>
<body>
  <h1>Bienvenido realice su consulta </h1>
 <img src="images/greeting.avif" alt=""> 
   
  <div id="buttonContainer">

    <button onclick="window.location.href = 'list.html'">Registro</button>

    <button onclick="window.location.href = 'doctor.html'">Doctores</button>

    <button onclick="window.location.href = 'person.html'">Personas</button>

    <button onclick="window.location.href = 'appointment.html'">Citas Médicas</button>
</div>
<h5>le deseamos un feliz dia</h5>
</body>
</html>
