<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listados</title>
    <link rel="stylesheet" href="list.css">
    <link rel="icon" href="favicon.ico">
</head>
<body>
    <h1>Listados</h1>
    <ul>
        <li id="personList"><a href="information.html">Listado Pacientes</a></li>
        <li id="doctorList"><a href="information.html">Listado Doctores</a></li>
        <li id="appointmentList"><a href="information.html">Listado Citas</a></li>
    </ul>
    <button onclick="window.location.href = 'index.html'">inicio</button>
</body>
</html>